# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\OneDrive - 吐司工作室\Files\006_TCD\05_lectures\11_MPE(5C1 MOTION PICTURE ENGINEERING)\02_Lab\05_compress\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
